@charset "UTF-8";
html{
	font:12px  "Microsoft Yahei"; 
}
.top{
	background-color: #FCFCFC;
	height: 44px;
	border-bottom:1px solid #EDEEF0;
	border-top:3px solid #ff8400;
}
.top_page{
	width: 1000px;
	height: 44px;
	margin:0 auto;

}
.top_page_l{
		line-height:44px;
}
.top_page_l ul li {
	float:left;
	padding-right:30px;
	line-height:44px;	
}
.top_page_l ul li a:hover{
	color:#ff8400;
}
.top_page_l ul  li s {
		display:inline-block;
		width: 14px;
		height: 12px;
		background: url(../image/CSS_Sprite.png);
		
}
.top_page_r{
		line-height:44px;	
}
.top_page_r ul li {
		float:left;
		padding-right:30px;
		line-height:44px;	
}
.top_page_r ul li a:hover{
	color:#ff8400;
}
.top_page_r ul  li s {
		
		display:inline-block;	
		width: 14px;
		height: 12px;
		background: url(../image/CSS_Sprite.png);
}
a{
	color:#000;
}
.logo{
		width: 1000px;
		height: 80px;
		margin:0 auto;
}
.logo_l{
		width: 110px;
		height: 47px;
		margin:17px 0px 21px 13px;
		background: url(../image/CSS_Sprite.png) -20px 0;
		text-indent:-50em;
}
.logo_r{
		width: 443px;
		height: 35px;
		margin-top:25px;
		
}
.logo_r_search{

		height: 35px;
		width: 335px;
		border:1px solid #c1c1c1;
		color:#666666;		
}
.logo_r_btn{

		height: 37px;
		width: 67px;
		color:white;
		font:16px ;
		background-color: #ff8400;
		
}
.nav_bar{
		
		width: 1007px;
		height: 67px;
		margin:0 auto;
		clear:both;
}
.nav_bar1{
		width: 143px;
		height: 67px;
		border-right:1px solid #f1e5c5;
}

.nav_bar1 ul li  {
		float:left;
		line-height:23px;
		padding-left: 18px ;
		
}
.nav_bar1 ul li a:hover{
	color:#ff8400;
}

.nav_bar2{
		width: 143px;
		height: 67px;
		/*padding:0px 5px 0px 11px;*/
}
.nav_bar2 ul li  {
		float:left;
		line-height:23px;
		padding-left: 18px ;
}
.nav_bar2 ul li a:hover{
	 color:#ff8400;
}
.summary{
	font:12px;
	font-weight:bold;
}
.content{
	width: 1000px;
	height: 400px;
	margin:0 auto;

}
.content_blank{
	height: 25px;
	width: 1000px;
	margin:0 auto;
}
.content_l{
		width: 240px;
		height: 218px;
		border:1px solid #d9e0ee;
		border-top:3px solid #ff8400;
		margin-right:20px;

}
.content_l_top{
	height: 36px;
	border-bottom:1px solid #e3e6ed;

}
.content_l_top a{
	font-size:16px;
	line-height: 36px;
}
.content_l_top a:hover{
	color:#ff8400;
}
.mod_control{
		display:block;
		width: 58px;
		height: 20px;
		float:right;
		overflow:hidden;
		line-height:36px;
		margin-top:9px!important;
		text-indent:-99999em;
}
.mod_prev {
		display:block;
		width: 19px;
		height: 19px;
		float:left;
		margin:0 5px;
		background: url(../image/CSS_Sprite.png) -130px  0px no-repeat ;
	  	
}
.mod_next {
		display:block;
		float:right;
		width: 19px;
		height: 19px;
		margin:0 5px;
		background: url(../image/CSS_Sprite.png) -150px  0px no-repeat ;
}
 .content_l_center{

 	width: 238px;
 	height: 172px;
 	padding:7px 0px 0px  0px;
 	
 }
 .constellation{
		width: 214px;
		height: 172px;
		padding:0 12px;

 }

 .csl_name{
 		color:#8e0b89!important;
 		display:block;
 		font-size:16px;
 		font-weight:bold

 }
 .csl_introduce{
 		color:#8e0b89!important;
 		font-size:12px;
 		font-weight:bold;
 		position:relative;
 		right:-130px;
 		top:-18px;
 }
.csl_body{
	width: 214px;
	height: 137px;
	font-size:14px;
	margin-top:5px;
}
.csl_body_ul{
	display:block;

}
.csl_body_li{
		display:inline-block;
		float:left;
		width: 96px;
		height: 26px;
		font-size:14px;
		line-height: 26px;
		padding-left:10px;

}
.csl_body_li a {
		font-size:14px;
}
.csl_body_ul1{
		display:block;
		clear:both;
		width: 214px;
		height: 40px;
		padding-top:12px;
		margin-top:6px;
		border-top:1px solid  #e3e6ed;
}
.csl_body_li1{
			display:block;
			width: 71px;
			height: 40px;
			float:left;
}
.csl_body_li2{
			display:block;
			width: 71px;
			height: 40px;
			float:left;
}
.csl_body_li3{
			display:block;
			width: 71px;
			height: 40px;
			float:left;
}
.csl_body_li1 a{
		display:block;
		width: 35px;
		height: 40px;
		padding-left:38px;
		background: url(../image/CSS_Sprite.png) -212px -11px no-repeat;
}
.csl_body_li2 a{
		display:block;
		width: 35px;
		height: 40px;
		padding-left:38px;
		background: url(../image/CSS_Sprite.png)-121px -50px no-repeat;
}
.csl_body_li3 a{
		display:block;
		width: 35px;
		height: 40px;
		padding-left:38px;
		background: url(../image/CSS_Sprite.png)0px -74px no-repeat;
}
.content_c{
		width: 360px;
		height: 277px;
		margin-right:20px;

}
.cont_c_head{
		width: 358px;
		height: 34px;
		background-color: #f7f7f7;
		border:1px solid  #e3e6ed;
		line-height:34px;

}
.menu{
	display:block;
	width: 174px;
	height: 35px;
	float:left;
}
.cont_c_body{
		width: 360px;
		height: 231px;
		padding-top:10px;

}
.body_center{
		height: 203px;
}
.picture{
		height: 92px;
		margin-top:15px;
}
.picture span{
	display:block;
	background-color: black;
	color:#fff;
	height: 20px;
	line-height:20px;
	text-align:center;
}
.pic1{
		display:block;
		overflow:hidden;
		width: 105px;
		height: 90px;
		border:1px solid #fff;
}
.pic2{
		display:block;
		overflow:hidden;
		width: 105px;
		height: 90px;
		border:1px solid #fff;
		margin-left:19px;
}
.pic3{
		display:block;
		overflow:hidden;
		width: 105px;
		height: 90px;
		border:1px solid #fff;
		margin-left:19px;
}
.pape{
	  	width: 360px;
	  	height: 104px;
	  	padding-top:7px;
}
.pape li a {
		font-size:14px;
		line-height: 26px;
}
.body_center ul li{
		display:block;
		width: 350px;
		height: 26px;
		padding-left:10px;
		
		line-height: 26px;
		text-align:center;
		background: url(../image/CSS_Sprite.png) -73px -98px no-repeat;
}
.content_r{
			display:block;
			width: 358px;
			height: 277px;
			
}
.content_r_head{	
			width: 358px;
			height: 34px;
			line-height:34px;
			border:1px solid  #e3e6ed;
			background-color: #f7f7f7;
}
.head_menu{
			width: 132px;
			height: 35px;
			margin-left:2px;

}
.head_menu1{
			width: 32px;
			height: 35px;
			padding:0px 13px;
			margin-top:-1px;
			border-top:3px solid #ff8400;
			border-right:1px solid #e3e6ed;
}
.head_menu a{
			display:block;
			line-height:32px;
			font-size:16px;
}
.head_menu2{
			width: 48px;
			height: 33px;
			padding:0px  12px;
			border-top:3px solid #ff8400;
			margin-top:-1px;
			border-right:1px solid #e3e6ed;

}
.head_date{
			display:block;
			width: 48px;
			height: 34px;
			margin-right:10px;
			line-height:34px;
			text-align:center;
}
.content_r_body{	
			height: 257px;

}
.content_r_body  ul  li {
			display:block;
			width: 350px;
			height: 26px;
			line-height:26px;
			padding-left:10px;
			background: url(../image/CSS_Sprite.png) -39px -154px  no-repeat;

}
.content_r_body  ul  li a {
			line-height:26px;
			font-size:14px;
			float:left;
			padding-right:2px;
}
.city{
			width: 998px;
			height: 88px;
			border:1px solid  #e9e9e9;
			margin:0 auto;
}
.sina_city{
			width: 998px;
			height: 54px;
			border-bottom:1px solid #e9e9e9;
				
}
.sina_city_name{
			width: 120px;
			height: 54px;
			line-height:54px;
			font-size:16px;
			background-color: #fffcf1;
		
		
}
.sina_city_name a {
			display:block;
			width: 64px;
			height: 21px;
			text-align:center;
			margin:0 auto;
}
.city_list{
			display:block;
			width: 842px;
			height: 42px;
			padding:6px 0px 6px 35px;
			line-height:36px;
}
.city_list p a{
			margin-right:6px;
			font-size:14px;
}
.life_city{
				display:block;
				width: 998px;
				height: 34px;

}
.life_city_head{
			display:block;
			width: 120px;
			height: 34px;
			line-height:34px;
			font-size:16px;
			background-color: #fffcf1;
			
}
.life_city_head a {
			display:block;
			width: 64px;
			height: 21px;
			margin:0 auto;
}
.life_city_body{
			display:block;
			width: 842px;
			height: 21px;
			padding:6px 0px 6px 35px;

}
.life_city_body a {
			display:block;
			width: 60px;
			height: 16px;
			margin-right:6px;
			font-size:12px;
}
.footer{
			width: 1000px;
			height: 272px;
			margin:0 auto;
			text-align:center;

}
.ft_info{
			height: 20px;
			padding:7px 0px;
			margin-bottom:10px;
			background-color: #f7f7f7;
			line-height:20px;
	


}
.info_page{
			width: 782px;
			height: 20px;
			margin:0 auto;
}
.ft_info a {
			display:block;
			width: 80px;
			height: 20px;
			line-height:20px;
			border-right:1px  dashed  #939393;
			

}
.rights{
			height: 20px;
			text-algin:center;
			color:#939393;
}
.footer_list{
			height: 50px;
			margin:10px 0px;
}
.footer p{
			display:block;
}
.ft_menu1{	
			
			height: 20px;
			line-height:20px;
			padding:0px  300px;
}
.ft_menu1  a {
			width: 96px;
			line-height:20px;
			color:#939393;
}
.ft_menu2{	
			
			height: 20px;
			line-height:20px;
			padding:0px  100px;
}
.ft_menu2  a {
			width: 256px;
			line-height:20px;
			color:#939393;
}
.ft_menu3{
			height: 20px;
			line-height:20px;
			padding:0px  300px;
}
.ft_menu3 a {
			width: 150px;
			line-height:20px;
			color:#939393;
}
.ft_menu4{	
			
			height: 20px;
			line-height:20px;
			padding:0px  100px;
}
.ft_menu4  a {
			width: 210px;
			line-height:20px;
			color:#939393;
}
.ft_menu5{	
			
			height: 20px;
			line-height:20px;
			padding:0px  120px;
}
.ft_menu5 a {
			width: 250px;
			line-height:20px;
			color:#939393;
}
.ft_menu6{	
			
			height: 20px;
			line-height:20px;
			padding:0px  120px;

}
.ft_menu6 a {
			width: 250px;
			line-height:20px;
			color:#939393;
}
