.xingxing{ background:url("xingxing.png") top left no-repeat; }
.新浪首页1_r2_c6{ width:38px; height:38px; background-position:-10px -10px; }
.新浪首页1_r2_c4{ width:39px; height:38px; background-position:-10px -58px; }
.新浪首页1_r2_c2{ width:40px; height:38px; background-position:-10px -106px; }

